<div>
  <h3>
    Enter Your Blog Post
  </h3>
  <form id="new-entry-form">
    <label for="entry-title">Post Title</label>
    <input type="text" name="entry-title"/>

    <label for="entry-text">Post Text</label>
    <textarea name="entry-text"></textarea>

    <button type="save">Save Entry</button>
  </form>
</div>

<script src="/assets/js/blog.js"></script>