{{! Module 14 Challenge: Tech Blog - Homepage }}

<div>
  {{#each entries}}
    <div class="blog-container">
      <div class="blog-entry">
        <h3>Entry ID</h3>
        <a href="/entry/{{id}}">{{id}}</a>
      </div>
      <div class="blog-entry">
        <h3>Entry Title</h3>
        <p>{{entry_title}}</p>
      </div>
      <div class="blog-entry">
        <h3>Entry Body</h3>
        {{entry_text}}
      </div>
      <br />
    </div>
  {{/each}}
</div>