{{! Module 14 Challenge: Tech Blog - New Member Registration }}

<div>
  <h3>
    Join The Tech Blog
  </h3>
  <form id="join-form">
    <div>
      <label for="username-join">Enter your User Name:</label>
      <input type="text" id="username-join" name="username-join" />
    </div>

    <div>
      <label for="password-join">Enter your Password:</label>
      <input type="text" id="password-join" name="password-join" />
    </div>

    <button type="submit" id="join-btn">Join</button>
  </form>
</div>

<script src="/js/add-user.js"></script>